<div class="legal-text accessibility-content"
     aria-labelledby="accessibility-title">

  <h2 id="accessibility-title">
    {{ t('accessibility.title')|default('Accessibilità') }}
  </h2>

  <p>
    {{ t('accessibility.paragraph_1') }}
  </p>

  <p>
    {{ t('accessibility.paragraph_2') }}
  </p>

  <p>
    {{ t('accessibility.paragraph_3') }}
  </p>

  <p>
    {{ t('accessibility.paragraph_4') }}
  </p>

  <p>
    {{ t('accessibility.paragraph_5') }}
  </p>

  <p>
    {{ t('accessibility.contact_intro') }}
    <a href="mailto:hd-lsd.dsdra@uniroma1.it">
      hd-lsd.dsdra@uniroma1.it
    </a>
    {{ t('accessibility.contact_or') }}
    <a href="mailto:dipartimento.sdra@uniroma1.it">
      dipartimento.sdra@uniroma1.it
    </a>.
  </p>

</div>